body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  background-color: #191919;
  color: #fff;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}
.main {
  flex: 1 1 auto;
}
/**************** HEADER ***************/
.header {
  margin-bottom: 90px;
}
.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 43px 0;
  margin-bottom: 40px;
}
.header__logo {
  flex: 0 0 160px;
  position: relative;
}
.header__logo img {
  width: 100%;
  display: block;
}
.nav__list {
  display: flex;
  gap: 40px;
}
.link_text-style {
  font-size: 17px;
  line-height: 1.6;
  transition: all 0.3s ease;
}
.link_text-style:hover {
  color: #118da8;
}
.header__about {
  display: flex;
  gap: 60px;
  padding-left: 27px;
}
.about__image {
  position: relative;
}
.about__image::before {
  content: url(images/about-img__decor.svg);
  position: absolute;
  top: -27px;
  left: -27px;
}
.about__image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.about__content {
  flex: 0 1 526px;
  align-self: center;
}
.header__title {
  font-size: 70px;
  line-height: 1.3;
  letter-spacing: 3.2px;
  margin-bottom: 90px;
}
.header__title_underlined-text {
  position: relative;
}
.header__title_underlined-text::after {
  content: url(images/header__title_text-decor.svg);
  position: absolute;
  top: 20px;
  left: -8px;
}
.header__title_bold-text {
  font-weight: 700;
}
.services__links {
  display: block;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 1.6;
}
.services__list {
  display: flex;
  gap: 17px;
}
.service__icon {
  transition: 0.3s;
}
.service__icon:hover {
  transform: scale(1.15);
}

/**************** MAIN ***************/
/**************** LATEST EPISODES ***************/
.latest-episodes {
  margin-bottom: 140px;
}
.latest-episodes__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0 26px 0;
  margin-bottom: 66px;
}
.section__title {
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 2.88px;
}
.button {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #118da8;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:active {
  transform: scale(0.93);
  background-color: #118df8;
}
.episodes__cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.episodes__card {
  background-color: #000;
  border-radius: 32px;
  padding: 40px;
  gap: 53px;
  display: flex;
}
.card__image {
  flex: 0 0 33.3333333%;
  position: relative;
  min-height: 300px;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card__topic {
  display: block;
  background-color: #191919;
  border-radius: 6px;
  margin-bottom: 48px;
}
.card__episode-number {
  display: block;
  margin-bottom: 18px;
}
.topic_blue-text {
  font-size: 17px;
  line-height: 1.6;
  color: #118da8;
}
.card__title {
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 28px;
}
.card__about {
  margin-bottom: 18px;
}
.desc-text {
  font-size: 22px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}
/**************** MEET HOST ***************/
.meet-host {
  margin-bottom: 140px;
}
.meet-host__inner {
  display: flex;
  gap: 94px;
}
.meet-host__body {
  display: flex;
  flex-direction: column;
  flex: 0 1 556px;
}
.arrow-wrap {
  width: 112px;
  height: 112px;
  background-color: #118da8;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}
.arrow {
  width: 78px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 55px;
  left: 17px;
}
.arrow::before,
.arrow::after {
  content: "";
  background-color: #fff;
  width: 30px;
  height: 2px;
  position: absolute;
  right: -5px;
}
.arrow::before {
  transform: rotate(45deg);
  top: -10px;
}
.arrow::after {
  transform: rotate(-45deg);
  top: 10px;
}
.host-name {
  font-size: 65px;
  margin-bottom: 28px;
}
.host-about {
  margin-bottom: 33px;
}
.meet-host__image {
  position: relative;
}
.meet-host__image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
/**************** SUBSCRIBE ***************/
.subscribe__inner {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 60px 75px 60px;
  gap: 20px;
  border-radius: 32px;
  margin-bottom: 140px;
}
.subscribe__header {
  flex: 0 1 36%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 44%;
}
.form__input {
  padding: 30px 0 27px 19px;
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 6px;
  color: #fff;
  font-size: 24px;
}
.form__input::placeholder {
  font-size: 24px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.7);
}
.form__input:focus {
  outline: 1px solid #118da8;
}

.form__button {
  align-self: flex-start;
  border: none;
}
